.app {
  padding: 0 60px;
}

button {
  width: 40%;
  margin: 20px;
  padding: 10px;
  min-width: 100px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.progress__bar--outer {
  height: 40px;
  background: #e0e0de;
  position: relative;
}

#progress__bar--inner {
  height: 100%;
  background: #a9aaa9;
}

#answers__container {
  display: flex;
  flex-wrap: wrap;
}
